@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar,
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar,
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-bg: #fbf9f6;
  --color-text: #1b1c1a;
  --color-border: #978770;
  --color-muted: #7A6E63;
  --color-accent: #C9A96E;
}

.dark {
  --color-bg: #0f0f0f;
  --color-text: #f0ede8;
  --color-border: #ceb898;
  --color-muted: #8a8278;
  --color-accent: #C9A96E;
}