@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-bg: #fbf9f6;
  --color-text: #1b1c1a;
  --color-border: #d0c5b5;
  --color-muted: #7A6E63;
  --color-accent: #C9A96E;
}

.dark {
  --color-bg: #0f0f0f;
  --color-text: #f0ede8;
  --color-border: #2a2a2a;
  --color-muted: #8a8278;
  --color-accent: #C9A96E;
}